
/* Components */

.btn {
  &:link,
  &:visited {
    display: inline-block;
    font-size: 1.6rem;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    border-radius: 10rem;
    position: relative;
    transition: all .2s;
  }

  &:hover {
    box-shadow: 0 1rem 2rem rgba($color-black, .2);
    transform: translateY(-.3rem);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active {
    box-shadow: 0 .5rem 1rem rgba($color-black, .2);
    transform: translateY(-.1rem);
  }

  &::after {
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
  }

  &--white {
    background: $color-white;
    color: $color-grey;

    &::after {
      background: $color-white;
    }
  }

  &--green {
    background: $color-green-light;
    color: $color-white;

    &::after {
      background: $color-green-light;
    }
  }

  &--animated {
    animation: moveInBottom .4s ease-in .75s;
    animation-fill-mode: backwards;
  }
}

.btn-text {
  &:link,
  &:visited {
    color: $color-green-regular;
    display: inline-block;
    text-decoration: none;
    font-size: $default-font-size;
    border-bottom: 1px solid $color-green-regular;
    padding: 3px;
    transition: all .5s;
  }

  &:hover {
    background-color: $color-green-regular;
    color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-black, .15);
    transform: translateY(-2px);
  }

  &:active {
    transform: translateY(0);
  }
}
